/* trangindex.css */
* {
    margin: 0px;
    border: 0px;
}

.from-them {
    width: 1200px;
    border: 5px solid;
    opacity: 0.9;
    /* 90% opacity */
}

.from-them form {
    margin: 30px;
    width: 900px;
    height: 400px;
    background: rgba(179, 10, 222, 0.3);
    /* Màu nền trắng mờ */
    backdrop-filter: blur(200px);
    /* Làm mờ nền */
    -webkit-backdrop-filter: blur(90px);
    /* Hỗ trợ cho trình duyệt WebKit */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(33, 32, 32, 0.1);
}

.bg-image {
    background-image: url('/kh/image/anh-nen-binh-yen-full-hd-dep_111412198.jpg');
    height: 100vh;
    background-size: cover;
}
