<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/admin/fragments/head :: head" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
<!--        <header th:replace="/admin/fragments/header :: header">-->
        <header>

        </header>


        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Sản phẩm</h3>
                        <p class="text-subtitle text-muted"></p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <div class="card" style="position: absolute; top: 10px; right: 10px; width: 100px;">
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none; color: inherit; text-decoration: none;">
                                    <img th:src="@{${nhanVienInfo.hinhAnh}}" alt="Avatar" class="rounded-circle" width="60" height="60">
                                </button>
                                <ul class="dropdown-menu" style="background-color: #f8f9fa; border-color: #ccc;">
                                    <li>
                                        <div class="dropdown-item" style="color: #333;">
                                            <strong>Thông tin nhân viên</strong><br>
                                            Tên: <span th:text="${nhanVienInfo.ten}"></span><br>
                                            Email: <span th:text="${nhanVienInfo.email}"></span><br>
                                            Chức vụ: <span th:text="${nhanVienInfo.chucVu.viTri}"></span>
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li style="text-align: center">
                                        <form th:action="@{/logout}" method="post">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="bi bi-box-arrow-right"></i> Đăng Xuất
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <section class="row">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-outline-success" href="/admin/san-pham/viewAdd" style="width: 70px"><i class="bi bi-plus"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="dataTable-wrapper">
                            <div class="dataTable-top">
                                <form method="get" action="/admin/san-pham">
                                    <div class="row">
                                        <div class="col-4">
                                            <input type="text" id="searchInput" class="form-control" name="query"
                                                   placeholder="Tìm kiếm sản phẩm theo mã và tên" th:value="${param.query}" maxlength="255">
                                        </div>
                                        <div class="col-2">
                                            <input type="text" id="searchInputMinPrice" class="form-control"
                                                   name="minPrice" placeholder="Giá nhỏ nhất"
                                                   th:value="${param.minPrice}" >
                                        </div>
                                        <div class="col-2">
                                            <input type="text" id="searchInputMaxPrice" class="form-control"
                                                   name="maxPrice" placeholder="Giá lớn nhất"
                                                   th:value="${param.maxPrice}" >
                                        </div>
                                        <div class="col-2">
                                            <select id="trangThai" name="trang_thai" class="form-select">
                                                <option value="" th:selected="${param.trang_thai == null || param.trang_thai == ''}">Tất cả trạng thái</option>
                                                <option value="1" th:selected="${param.trang_thai == '1'}">Hoạt động</i></option>
                                                <option value="0" th:selected="${param.trang_thai == '0'}">Không hoạt động</i></option>
                                            </select>
                                        </div>
                                        <div class="col-2 d-flex">
                                            <div>
                                                <button class="btn btn-outline-primary" type="submit" style="width: 70px; margin-right: 10px">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                            <div>
                                                <a class="btn btn-outline-warning" href="/admin/san-pham" style="width: 70px">
                                                    <i class="bi bi-arrow-counterclockwise"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="dataTable-container" style="padding-top: 10px">
                                <table class="table table-striped table-bordered dataTable-table" id="table1">
                                    <thead>
                                    <tr>
                                        <th data-sortable="" style="width: 5%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">STT</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Mã sản phẩm</a>
                                        </th>
                                        <th data-sortable="" style="width: 25%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Tên sản phẩm</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Kiểu quạt</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Công suất</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Số lượng</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Giá bán</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Trạng thái</a>
                                        </th>
                                        <th data-sortable="" style="width: 15%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Hành động</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="sp, iter : ${listSP.content}" th:data-id="${sp.id}">
                                        <td style="text-align: center" th:text="${(listSP.number * listSP.size) + iter.index + 1}"></td>
                                        <td th:text="${sp.sanPham.ma}"></td>
                                        <td th:text="${sp.sanPham.ten + ' (' + sp.mauSac.ten + ')'}"></td>
                                        <td th:text="${sp.sanPham.kieuQuat.ten}"></td>
                                        <td th:text="${sp.congSuat.ten}"></td>
                                        <td th:text="${sp.so_luong}"></td>
                                        <td class="giaVND" th:text="${sp.gia}"></td>
                                        <td style="text-align: center">
                                            <span th:if="${sp.trang_thai}" class="badge bg-light-success">
                                                Hoạt động
                                            </span>
                                            <span th:unless="${sp.trang_thai}" class="badge bg-light-danger">
                                                Không hoạt dộng
                                            </span>
                                        </td>
                                        <td style="text-align: center">
                                            <a class="btn btn-outline-warning" style="width: 70px" th:href="@{/admin/san-pham/viewUpdate/{id}(id=${sp.id})}">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="dataTable-bottom">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        <!-- Nút Trang đầu -->
                                        <li class="page-item" th:classappend="${listSP.first ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=0&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&trang_thai=' + ${trang_thai}}"
                                               aria-label="Trang đầu">
                                                <span aria-hidden="true">««</span>
                                                <span class="sr-only">Trang đầu</span>
                                            </a>
                                        </li>

                                        <!-- trang trước -->
                                        <li class="page-item" th:classappend="${listSP.first ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=' + ${listSP.number - 1} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&trang_thai=' + ${trang_thai}}"
                                               aria-label="Previous" th:if="${!listSP.first}">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Trang trước</span>
                                            </a>
                                        </li>
                                        <!-- số trang -->
                                        <li class="page-item"
                                            th:each="i : ${#numbers.sequence(T(java.lang.Math).max(0, listSP.number - 2), T(java.lang.Math).min(listSP.totalPages - 1, listSP.number + 2))}"
                                            th:classappend="${i == listSP.number ? 'active' : ''}">
<!--                                            <a class="page-link"-->
<!--                                               th:href="@{'/admin/san-pham?page=' + ${i} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&trang_thai=' + ${trang_thai}}"-->
<!--                                               th:text="${i + 1}"></a>-->
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=' + ${i >= 0 ? i : 0} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&trang_thai=' + ${trang_thai}}"
                                               th:text="${i + 1}"></a>
                                        </li>
                                        <!-- trang sau -->
                                        <li class="page-item" th:classappend="${listSP.last ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=' + ${listSP.number + 1} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&trang_thai=' + ${trang_thai}}"
                                               aria-label="Next" th:if="${!listSP.last}">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Trang sau</span>
                                            </a>
                                        </li>
                                        <!-- Trang cuối -->
                                        <li class="page-item" th:classappend="${listSP.last ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=' + ${listSP.totalPages - 1} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice} + '&trang_thai=' + ${trang_thai}}"
                                               aria-label="Trang cuối">
                                                <span aria-hidden="true">»»</span>
                                                <span class="sr-only">Trang cuối</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
<!--    format giá-->
    <script>
        document.querySelectorAll('.giaVND').forEach(element => {
            // const originalValue = parseFloat(element.innerText);
            // element.innerText = originalValue.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
            const originalValue = parseFloat(element.innerText);
            element.innerText = originalValue.toLocaleString('vi-VN', {
                style: 'currency',
                currency: 'VND',
                currencyDisplay: 'code' // Thay đổi từ 'symbol' thành 'code'
            });
        });
        function formatPriceInput(element) {
            let value = element.value.replace(/[^\d]/g, ''); // loại bỏ ký tự không phải số
            if (value.length > 8) {
                value = value.slice(0, 8); // Giới hạn tối đa 9 chữ số
            }
            if (value) {
                // Thêm dấu phẩy vào các vị trí đúng để định dạng theo kiểu của Việt Nam
                value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
            element.value = value ? value : '';
        }

        document.getElementById('searchInputMinPrice').addEventListener('input', function (event) {
            formatPriceInput(event.target);
        });

        document.getElementById('searchInputMaxPrice').addEventListener('input', function (event) {
            formatPriceInput(event.target);
        });
    </script>
</div>
</body>
</html>
