<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/admin/fragments/head :: head" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Sản phẩm</h3>
                        <p class="text-subtitle text-muted">danh sách sản phẩm quạt</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin/index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/admin/san-pham">Sản
                                    phẩm</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <!--        dữ liệu thực hiện trong secsion-->
            <section class="row">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-outline-success" href="/admin/san-pham/viewAdd">Thêm mới</a>
                    </div>
                    <div class="card-body">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-top">
                                <form method="get" action="/admin/san-pham">
                                    <div class="row">
                                        <div class="col-4">
                                            <input type="text" id="searchInput" class="form-control" name="query"
                                                   placeholder="Tìm kiếm sản phẩm...." th:value="${param.query}">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" id="searchInputMinPrice" class="form-control" th:id="giaMinVND"
                                                   name="minPrice" placeholder="Giá nhỏ nhất"
                                                   th:value="${param.minPrice}">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" id="searchInputMaxPrice" class="form-control" th:id="giaMaxVND"
                                                   name="maxPrice" placeholder="Giá lớn nhất"
                                                   th:value="${param.maxPrice}">
                                        </div>
                                        <div class="col-2 d-flex">
                                            <div>
                                                <button class="btn btn-primary" type="submit" style="width: 70px; margin-right: 10px">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                            <div>
                                                <a class="btn btn-warning" href="/admin/san-pham" style="width: 70px">
                                                    <i class="bi bi-arrow-counterclockwise"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="dataTable-container" style="padding-top: 10px">
                                <table class="table table-striped table-bordered dataTable-table" id="table1">
                                    <thead>
                                    <tr>
                                        <th data-sortable="" style="width: 5%;">
                                            <a href="#" class="dataTable-sorter">STT</a>
                                        </th>
                                        <th data-sortable="" style="width: 15%;">
                                            <a href="#" class="dataTable-sorter">Mã sản phẩm</a>
                                        </th>
                                        <th data-sortable="" style="width: 25%;">
                                            <a href="#" class="dataTable-sorter">Tên sản phẩm</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%;">
                                            <a href="#" class="dataTable-sorter">Kiểu quạt</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%;">
                                            <a href="#" class="dataTable-sorter">Công suất</a>
                                        </th>
                                        <th data-sortable="" style="width: 15%;">
                                            <a href="#" class="dataTable-sorter">Giá bán</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%;">
                                            <a href="#" class="dataTable-sorter">Trạng thái</a>
                                        </th>
                                        <th data-sortable="" style="width: 15%;">
                                            <a href="#" class="dataTable-sorter">Hành động</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="sp, iter : ${listSP.content}" th:data-id="${sp.id}">
                                        <td style="text-align: center" th:text="${(listSP.number * listSP.size) + iter.index + 1}"></td>
                                        <td th:text="${sp.sanPham.ma}"></td>
                                        <td th:text="${sp.sanPham.ten + ' (' + sp.mauSac.ten + ')'}"></td>
                                        <td th:text="${sp.sanPham.kieuQuat.ten}"></td>
                                        <td th:text="${sp.congSuat.ten}"></td>
                                        <td class="giaVND" th:text="${sp.gia}"></td>
                                        <td style="text-align: center">
                                            <span th:if="${sp.trang_thai}" class="badge bg-light-success">
                                                On
                                            </span>
                                            <span th:unless="${sp.trang_thai}" class="badge bg-light-danger">
                                                Off
                                            </span>
                                        </td>
                                        <td style="text-align: center">
                                            <a class="btn btn-info" style="width: 70px" th:href="@{/admin/san-pham/viewUpdate/{id}(id=${sp.id})}">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="dataTable-bottom">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        <!-- Nút Trang đầu -->
                                        <li class="page-item" th:classappend="${listSP.first ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=0&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}"
                                               aria-label="Trang đầu">
                                                <span aria-hidden="true">««</span>
                                                <span class="sr-only">Trang đầu</span>
                                            </a>
                                        </li>

                                        <!-- trang trước -->
                                        <li class="page-item" th:classappend="${listSP.first ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=' + ${listSP.number - 1} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}"
                                               aria-label="Previous" th:if="${!listSP.first}">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Trang trước</span>
                                            </a>
                                        </li>
                                        <!-- số trang -->
                                        <li class="page-item"
                                            th:each="i : ${#numbers.sequence(T(java.lang.Math).max(0, listSP.number - 2), T(java.lang.Math).min(listSP.totalPages - 1, listSP.number + 2))}"
                                            th:classappend="${i == listSP.number ? 'active' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=' + ${i} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}"
                                               th:text="${i + 1}"></a>
                                        </li>
                                        <!-- trang sau -->
                                        <li class="page-item" th:classappend="${listSP.last ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=' + ${listSP.number + 1} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}"
                                               aria-label="Next" th:if="${!listSP.last}">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Trang sau</span>
                                            </a>
                                        </li>
                                        <!-- Trang cuối -->
                                        <li class="page-item" th:classappend="${listSP.last ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/admin/san-pham?page=' + ${listSP.totalPages - 1} + '&query=' + ${query} + '&minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}"
                                               aria-label="Trang cuối">
                                                <span aria-hidden="true">»»</span>
                                                <span class="sr-only">Trang cuối</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
    <script>
        document.querySelectorAll('.giaVND').forEach(element => {
            const originalValue = parseFloat(element.innerText);
            element.innerText = originalValue.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
        });
        document.getElementById('giaMinVND').addEventListener('input', function (event) {
            let value = event.target.value.replace(/[^\d]/g, ''); // loại bỏ ký tự không phải số
            if (value.length > 9) {
                value = value.slice(0, 9); // Giới hạn tối đa 9 chữ số
            }
            if (value) {
                value = parseInt(value).toLocaleString(); // Định dạng giá trị thành số
            }
            event.target.value = value ? value : '';
        });
        document.getElementById('giaMaxVND').addEventListener('input', function (event) {
            let value = event.target.value.replace(/[^\d]/g, ''); // loại bỏ ký tự không phải số
            if (value.length > 9) {
                value = value.slice(0, 9); // Giới hạn tối đa 9 chữ số
            }
            if (value) {
                value = parseInt(value).toLocaleString(); // Định dạng giá trị thành số
            }
            event.target.value = value ? value : '';
        });
    </script>
</div>
</body>
</html>
