<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/admin/fragments/head :: head}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="hold-transition skin-yellow-light sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <div>
        <header th:replace="~{/admin/fragments/header :: header}"></header>
    </div>

    <!-- Left side column. contains the sidebar -->
    <div>
        <aside th:replace="~{/admin/fragments/sidebar :: sidebar}"></aside>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container">
                <h1>Phiếu giảm giá</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/index"><i class="bi bi-house"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quản lý phiếu giảm giá</li>
                        <li class="breadcrumb-item active"><a href="/admin/phieu-giam">Phiếu giảm giá</a></li>
                    </ol>
                </nav>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h3 class="card-title mb-0">Thông tin phiếu giảm giá</h3>
                        <button class="btn btn-outline-primary ms-auto" data-toggle="modal" data-target="#addProduct">
                            Thêm mới
                        </button>
                    </div>
                    <div class="card-body">
                        <form action="/admin/index" class="row g-3 mb-3">
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="keyword" placeholder="Tìm kiếm theo tên">
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" name="status">
                                    <option value="1">Hoạt động</option>
                                    <option value="0">Tạm dừng</option>
                                </select>
                            </div>
                            <div class="col-md-4 d-flex align-items-center">
                                <button type="submit" class="btn btn-primary ms-2">Tìm kiếm</button>
                            </div>
                        </form>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Mã phiếu giảm giá</th>
                                <th>Tên phiếu giảm giá</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Số lượng</th>
                                <th>Trạng thái</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="pgg : ${ListPGG}">
                                <td th:text="${pgg.ma}">Mã phiếu giảm</td>
                                <td th:text="${pgg.ten}">Tên phiếu giảm</td>
                                <td th:text="${pgg.ngayBD}">Ngày bắt đầu</td>
                                <td th:text="${pgg.ngayKT}">Ngày kết thúc</td>
                                <td th:text="${pgg.soLuong}">Số lượng</td>
                                <td th:text="${pgg.trangThai}">Trạng thái</td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <!-- Add Product Modal -->
    <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="addProductLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addProductLabel"><b>Thêm phiếu giảm giá mới</b></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form content goes here -->
                    <form th:action="@{/admin/phieu-giam/add}" method="post">
                        <div class="form-group">
                            <label for="productCode">Mã phiếu giảm giá</label>
                            <input type="text" class="form-control" id="productCode" name="ma"
                                   placeholder="Mã phiếu giảm giá tự động tạo" readonly>
                        </div>
                        <div class="form-group">
                            <label for="productName">Tên phiếu giảm giá</label>
                            <input type="text" class="form-control" id="productName" name="ten"
                                   placeholder="Nhập tên phiếu giảm giá">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Ngày bắt đầu</label>
                            <input type="date" class="form-control" id="productDescription" name="ngayBD"
                                   placeholder="Nhập ngày bắt đầu">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Ngày Kết thúc</label>
                            <input type="date" class="form-control" id="productDescription" name="ngayKT"
                                   placeholder="Nhập ngày bắt đầu">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Số lượng</label>
                            <input type="number" class="form-control" id="productDescription" name="soLuong"
                                   placeholder="Nhập số lượng">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Loại phiếu giảm giá</label>
                            <select name="loaiPhieuGiam">
                                <option value="true">Hoạt động</option>
                                <option value="false">Tạm dừng</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Giá trị tối thiểu áp dụng</label>
                            <input type="number" class="form-control" id="productDescription" name="giaTriMin"
                                   placeholder="Nhập giá trị tối thiểu">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Giá trị tối đa áp dụng</label>
                            <input type="number" class="form-control" id="productDescription" name="giaTriMax"
                                   placeholder="Nhập giá trị tối đa">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Ngày tạo</label>
                            <input type="date" class="form-control" id="productDescription" name="ngayTao"
                                   placeholder="Nhập ngày bắt đầu">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Ngày sửa</label>
                            <input type="date" class="form-control" id="productDescription" name="ngaySua"
                                   placeholder="Nhập ngày bắt đầu">
                        </div> <div class="form-group">
                            <label for="productDescription">Người tạo</label>
                            <input type="text" class="form-control" id="productDescription" name="nguoiTao"
                                   placeholder="Nhập người tạo">
                        </div> <div class="form-group">
                            <label for="productDescription">Người sửa</label>
                            <input type="text" class="form-control" id="productDescription" name="nguoiSua"
                                   placeholder="Nhập ngày bắt đầu">
                        </div>
                        <div class="form-group">
                            <label for="productStatus">Trạng thái</label>
                            <select class="form-control" id="productStatus" name="trangThai">
                                <option value="true">Hoạt động</option>
                                <option value="false">Không hoạt động</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <footer th:replace="~{/admin/fragments/footer :: footer}"></footer>
    </div>
</div>
<!-- ./wrapper -->

<!-- jQuery and Bootstrap Bundle -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
<div>
    <script th:replace="~{/admin/fragments/script :: script}"></script>
</div>

</body>

</html>
