<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table th,
        .table td {
            vertical-align: middle;
            text-align: center;
        }

        .text-danger {
            color: red;
            font-size: 0.875rem;
            font-weight: 400;
        }

        .table thead th {
            vertical-align: middle;
            text-align: center;
        }

        .pagination {
            justify-content: center;
        }

        .modal-body .form-group label {
            font-weight: bold;
        }

        /* Gọn hơn cho các thành phần */
        .page-title h3 {
            font-size: 1.5rem;
        }

        .page-content .card {
            border: 1px solid #ddd;
        }

        .dataTable-wrapper .dataTable-top {
            margin-bottom: 1rem;
        }

        .form-control {
            height: calc(2.25rem + 2px); /* Điều chỉnh chiều cao */
        }

        .dataTable-table th,
        .dataTable-table td {
            font-size: 0.9rem; /* Điều chỉnh kích thước font */
        }
    </style>
</head>

<body class="hold-transition skin-yellow-light sidebar-mini">
<div class="wrapper">
    <header th:replace="/admin/fragments/header :: header"></header>

    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <div id="main">
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Phiếu giảm giá</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin/index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                        href="/admin/phieu-giam/index">Phiếu
                                    giảm giá</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <section class="row">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-outline-success" href="/admin/phieu-giam/store" style="width: 70px"><i class="bi bi-plus"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="dataTable-wrapper">
                            <div class="dataTable-top">
                                <form action="/admin/phieu-giam/index" method="GET">
                                    <div class="row">
                                        <div class="col-8">
                                            <input type="text" class="form-control" name="keyword" placeholder="Tìm kiếm theo tên">
                                        </div>
                                        <div class="col-2">
                                            <select class="form-select" name="status">
                                                <option value="">Tất cả trạng thái</option>
                                                <option value="true">Áp dụng</option>
                                                <option value="false">Ngừng áp dụng</option>
                                            </select>
                                        </div>
                                        <div class="col-2 d-flex">
                                            <div>
                                                <button class="btn btn-outline-primary" type="submit" style="width: 70px; margin-right: 10px">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                            <div>
                                                <a class="btn btn-outline-warning" href="/admin/phieu-giam/index" style="width: 70px">
                                                    <i class="bi bi-arrow-counterclockwise"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="dataTable-container">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
<!--                                        <th data-sortable="" style="width: 5%;">-->
<!--                                            <a href="#" class="dataTable-sorter">STT</a>-->
<!--                                        </th>-->
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Mã phiếu</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Tên phiếu</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Loại phiếu</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Bắt đầu</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Kết thúc</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Giá trị giảm</a>
                                        </th>
                                        <th data-sortable="" style="width: 15%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Sản phẩm áp dụng</a>
                                        </th>
                                        <th data-sortable="" style="width: 5%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Trạng thái</a>
                                        </th>
                                        <th data-sortable="" style="width: 5%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Hành động</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pgg, stt : ${ListPGG}" style="cursor: pointer;">
<!--                                        <td style="text-align: center" th:text="${(ListPGG.number * ListPGG.size) + stt.index + 1}"></td>-->
                                        <td th:text="${pgg.ma}">Mã phiếu giảm</td>
                                        <td th:text="${pgg.ten}">Tên phiếu giảm</td>
                                        <td th:text="${pgg.loaiPhieuGiam ? 'Giảm giá hóa đơn' : 'Giảm sản phẩm'}">Loại
                                            phiếu giảm
                                        </td>
                                        <td th:text="${#dates.format(pgg.ngayBD, 'yyyy-MM-dd')}">Ngày bắt đầu</td>
                                        <td th:text="${#dates.format(pgg.ngayKT, 'yyyy-MM-dd')}">Ngày kết thúc</td>
                                        <td class="giaVND" th:text="${pgg.giaTriGiam}">Giá trị giảm</td>
                                        <td th:text="${pgg.spct.sanPham.ten != null ? pgg.spct.sanPham.ten : 'Không áp dụng sản phẩm'}">
                                            Tên sản phẩm
                                        </td>
<!--                                        <td th:text="${pgg.trangThai ? 'Áp dụng' : 'Ngừng áp dụng'}"></td>-->
                                        <td style="text-align: center">
                                            <span th:if="${pgg.trangThai}" class="badge bg-light-success">
                                                On
                                            </span>
                                            <span th:unless="${pgg.trangThai}" class="badge bg-light-danger">
                                                Off
                                            </span>
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/phieu-giam/edit/{id}(id=${pgg.id})}"
                                               class="btn btn-outline-warning" style="width: 60px">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <!-- Nút Trang Đầu -->
                                    <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/phieu-giam/index(page=0, keyword=${keyword}, status=${status})}"
                                           aria-label="First">
                                            <span>&laquo;&laquo;</span>
                                        </a>
                                    </li>

                                    <!-- Nút Trang Trước -->
                                    <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/phieu-giam/index(page=${currentPage - 1}, keyword=${keyword}, status=${status})}"
                                           aria-label="Previous">
                                            <span>&laquo;</span>
                                        </a>
                                    </li>

                                    <!-- Số Trang -->
                                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" class="page-item"
                                        th:classappend="${currentPage == i ? 'active' : ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/phieu-giam/index(page=${i}, keyword=${keyword}, status=${status})}">
                                            [[${i + 1}]]
                                        </a>
                                    </li>

                                    <!-- Nút Trang Sau -->
                                    <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/phieu-giam/index(page=${currentPage + 1}, keyword=${keyword}, status=${status})}"
                                           aria-label="Next">
                                            <span>&raquo;</span>
                                        </a>
                                    </li>

                                    <!-- Nút Trang Cuối -->
                                    <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                                        <a class="page-link"
                                           th:href="@{/admin/phieu-giam/index(page=${totalPages - 1}, keyword=${keyword}, status=${status})}"
                                           aria-label="Last">
                                            <span>&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer th:replace="/admin/fragments/footer :: footer"></footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
<script th:replace="/admin/fragments/script :: script"></script>

<script>
    // Định dạng số thành tiền VNĐ
    function formatCurrency(amount) {
        return amount.toLocaleString('vi-VN', {style: 'currency', currency: 'VND'});
    }

    // Áp dụng định dạng tiền cho các ô có giá trị giảm
    document.querySelectorAll('#giaTriGiam').forEach(function (element) {
        var amount = parseInt(element.innerText);
        element.innerText = formatCurrency(amount);
    });
    // Chuyển giá table về vng
    document.querySelectorAll('.giaVND').forEach(element => {
        const originalValue = parseFloat(element.innerText);
        element.innerText = originalValue.toLocaleString('vi-VN', {
            style: 'currency',
            currency: 'VND',
            currencyDisplay: 'code' // Thay đổi từ 'symbol' thành 'code'
        });
    });
</script>
</body>
</html>
