/**/
body{
    background-color: #f5f5f5;
}
table tbody {
    display: block;
    max-height: 350px; /* Thay đổi chiều cao tối đa của tbody */
    overflow-y: auto;
    width: 100%;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.custom-tabs .nav-link.active {
    background-color: #ededef !important;
    color: white !important;
    border-radius: 5px;
}
.form-section {
    margin-bottom: 20px;
}
.total-price {
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.confirm-btn {
    font-weight: bold;
}

/* Kiểu dáng cho công tắc */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Thanh nền */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

/* Vòng tròn bên trong */
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Khi được bật */
input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

/*button add sp*/
.custom-plus-button {
    background: none; /* Loại bỏ màu nền */
    border: none; /* Loại bỏ viền */
    font-size: 24px; /* Tăng kích thước font */
    font-weight: bold; /* Tăng độ đậm của dấu cộng */
    color: #28a745; /* Màu xanh lá nổi bật */
    cursor: pointer; /* Con trỏ chuột khi hover */
}

.custom-plus-button:hover {
    color: #218838; /* Màu xanh đậm hơn khi hover */
    transform: scale(1.5); /* Phóng to khi hover */
}

.custom-plus-button:focus {
    outline: none; /* Loại bỏ hiệu ứng outline khi focus */
}

/*.notification {*/
/*    position: fixed;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    background-color: #f5f5f5;*/
/*    color: #0d1326;*/
/*    padding: 15px;*/
/*    border-radius: 10px;*/
/*    z-index: 1000;*/
/*    display: none;*/
/*}*/
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Ẩn mặc định */
}

.notification.show {
    display: flex; /* Hiện thông báo */
    animation: fadeOut 3s forwards; /* Kích hoạt animation */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}




