<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/admin/fragments/head :: head}"></head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Thông Tin Tài Khoản</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <div class="card-footer">
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-box-arrow-right"></i> Đăng Xuất
                                    </button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <!--        dữ liệu thực hiện trong secsion-->
            <section class="row">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <div class="card">


                            <div>
                                <p class="mb-7" th:if="${nhanVien.hinhAnh}">
                                <img th:src="${nhanVien.hinhAnh}" alt="Uploaded Image"
                                     style="max-width: 150px; height: 150px; border-radius: 100px;">
                                </p>
                                <div class="card-body">
                                    <p class="mb-3">
                                        <i class="bi bi-person-fill me-2"></i>
                                        <strong>Tên:</strong> <span th:text="${nhanVien.ten}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-gender-ambiguous me-2"></i>
                                        <strong>Giới Tính:</strong> <span
                                            th:text="${nhanVien.gioiTinh ? 'Nam' : 'Nữ'}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-calendar-fill me-2"></i>
                                        <strong>Ngày Sinh:</strong> <span
                                            th:text="${#dates.format(nhanVien.ngaySinh, 'yyyy-MM-dd')}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-telephone-fill me-2"></i>
                                        <strong>Số Điện Thoại:</strong> <span th:text="${nhanVien.soDienThoai}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-envelope-fill me-2"></i>
                                        <strong>Email:</strong> <span th:text="${nhanVien.email}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-card-text me-2"></i>
                                        <strong>Căn Cước Công Dân:</strong> <span
                                            th:text="${nhanVien.canCuocCongDan}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-house-door-fill me-2"></i>
                                        <input type="hidden" name="tinhThanhPho" th:value="${nhanVien.tinhThanhPho}">
                                        <input type="hidden" name="quanHuyen" th:value="${nhanVien.quanHuyen}">
                                        <input type="hidden" name="xaPhuong" th:value="${nhanVien.xaPhuong}">
                                        <strong>Địa Chỉ:</strong> <span
                                            th:text="${nhanVien.soNhaNgoDuong + ', ' + nhanVien.xaPhuong + ', ' + nhanVien.quanHuyen + ', ' + nhanVien.tinhThanhPho}"></span>
                                    </p>


                                </div>
                                <hr>
                                <div class="card-footer">
                                    <a th:href="@{/trang-ca-nhan/from-sua-nhan-vien/{id}(id=${nhanVien.id})}"
                                       class="btn btn-secondary">Sửa</a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script th:inline="javascript">

        var idTinh = document.getElementById("tinhThanhPho").value;
        var idHuyen = document.getElementById("quanHuyen").value;
        var idXa = document.getElementById("xaPhuong").value;

        console.log(idTinh)
        console.log(idHuyen)
        console.log(idXa)

        var citis = document.getElementById("city");
        var districts = document.getElementById("district");
        var wards = document.getElementById("ward");

        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };

        axios(Parameter).then(function (result) {
            renderCity(result.data);
            // Preselect city, district, and ward after data is loaded
            citis.value = idTinh;
            citis.dispatchEvent(new Event('change'));

            setTimeout(function () {
                districts.value = idHuyen;
                districts.dispatchEvent(new Event('change'));
            }, 500);

            setTimeout(function () {
                wards.value = idXa;
            }, 1000);
        });

        function renderCity(data) {
            for (const x of data) {
                citis.options[citis.options.length] = new Option(x.Name, x.Id);
            }

            citis.onchange = function () {
                districts.length = 1;
                wards.length = 1;

                if (this.value != "") {
                    const result = data.filter(n => n.Id === this.value);
                    for (const k of result[0].Districts) {
                        districts.options[districts.options.length] = new Option(k.Name, k.Id);
                    }
                }
            };

            districts.onchange = function () {
                wards.length = 1;
                const dataCity = data.filter((n) => n.Id === citis.value);

                if (this.value != "") {
                    const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
                    for (const w of dataWards) {
                        wards.options[wards.options.length] = new Option(w.Name, w.Id);
                    }
                }
            };
        }
    </script>
</div>
</body>
</html>
