<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/admin/fragments/head :: head}"></head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Thông Tin Tài Khoản</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <div class="card-footer">
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-box-arrow-right"></i> Đăng Xuất
                                    </button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <!--        dữ liệu thực hiện trong secsion-->
            <section class="row">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <div class="card">


                            <div>
                                <p class="mb-7" th:if="${nhanVien.hinhAnh}">
                                <img th:src="${nhanVien.hinhAnh}" alt="Uploaded Image"
                                     style="max-width: 150px; height: 150px; border-radius: 100px;">
                                </p>
                                <div class="card-body">
                                    <p class="mb-3">
                                        <i class="bi bi-person-fill me-2"></i>
                                        <strong>Tên:</strong> <span th:text="${nhanVien.ten}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-gender-ambiguous me-2"></i>
                                        <strong>Giới Tính:</strong> <span
                                            th:text="${nhanVien.gioiTinh ? 'Nam' : 'Nữ'}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-calendar-fill me-2"></i>
                                        <strong>Ngày Sinh:</strong> <span
                                            th:text="${#dates.format(nhanVien.ngaySinh, 'yyyy-MM-dd')}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-telephone-fill me-2"></i>
                                        <strong>Số Điện Thoại:</strong> <span th:text="${nhanVien.soDienThoai}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-envelope-fill me-2"></i>
                                        <strong>Email:</strong> <span th:text="${nhanVien.email}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-card-text me-2"></i>
                                        <strong>Căn Cước Công Dân:</strong> <span
                                            th:text="${nhanVien.canCuocCongDan}"></span>
                                    </p>
                                    <p class="mb-3">
                                        <i class="bi bi-house-door-fill me-2"></i>
                                        <input type="hidden" name="tinhThanhPho" th:value="${nhanVien.tinhThanhPho}">
                                        <input type="hidden" name="quanHuyen" th:value="${nhanVien.quanHuyen}">
                                        <input type="hidden" name="xaPhuong" th:value="${nhanVien.xaPhuong}">
                                        <input type="hidden" name="soNha" th:value="${nhanVien.soNhaNgoDuong}">
                                        <span id="fullAddress"></span>

                                    </p>


                                </div>
                                <hr>
                                <div class="card-footer">
                                    <a th:href="@{/trang-ca-nhan/from-sua-nhan-vien/{id}(id=${nhanVien.id})}"
                                       class="btn btn-secondary">Sửa</a>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script th:inline="javascript">


        document.addEventListener('DOMContentLoaded', function () {
            // Lấy giá trị từ các trường input
            var idTinh = document.getElementsByName('tinhThanhPho')[0].value;
            var idHuyen = document.getElementsByName('quanHuyen')[0].value;
            var idXa = document.getElementsByName('xaPhuong')[0].value;
            var soNha = document.getElementsByName('soNha')[0].value;


            var fullAddress = document.getElementById('fullAddress');

            // Cấu hình Axios
            var Parameter = {
                url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
                method: "GET",
                responseType: "application/json",
            };

            // Gọi API
            axios(Parameter)
                .then(function (result) {
                    renderFullAddress(result.data, idTinh, idHuyen, idXa, soNha, fullAddress);
                })
                .catch(function (error) {
                    Swal.fire('Lỗi!', 'Không thể tải dữ liệu địa giới hành chính!', 'error');
                });

            // Hàm hiển thị
            function renderFullAddress(data, idTinh, idHuyen, idXa, soNha, fullAddress) {
                var selectedCity = data.find(city => city.Id == idTinh);
                if (selectedCity) {
                    var selectedDistrict = selectedCity.Districts.find(district => district.Id == idHuyen);
                    if (selectedDistrict) {
                        var selectedWard = selectedDistrict.Wards.find(ward => ward.Id == idXa);
                        if (selectedWard) {
                            fullAddress.textContent = `${selectedCity.Name}, ${selectedDistrict.Name}, ${selectedWard.Name}, ${soNha}`;
                        } else {
                            fullAddress.textContent = "Địa chỉ không đầy đủ";
                        }
                    } else {
                        fullAddress.textContent = "Địa chỉ không đầy đủ";
                    }
                } else {
                    fullAddress.textContent = "Địa chỉ không đầy đủ";
                }
            }
        });
    </script>
</div>
</body>
</html>
