<!DOCTYPE html>
<html>
<head th:replace="/admin/fragments/head :: head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Hàng Thành Công</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
<body class="bg-light">
<div class="container text-center mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
            <h1 class="h3">Đặt Hàng Thành Công</h1>
        </div>
        <div class="card-body">
            <p class="text-muted">Cảm ơn bạn đã đặt hàng tại cửa hàng của chúng tôi!</p>
            <p>Mã đơn hàng: <strong th:text="${hoaDon.ma}"></strong></p>

            <div class="card mt-4">
                <div class="card-header bg-primary text-white">
                    Thông tin đơn hàng
                </div>
                <div class="card-body text-start">
                    <p>Tổng tiền: <span class="giaVND" th:text="${hoaDon.tongTien}"></span></p>
                    <p><strong>Thông tin giao hàng:</strong></p>
                    <p>Họ và tên: <span th:text="${hoaDon.tenNguoiNhan}"></span></p>
                    <p>Số điện thoại: <span th:text="${hoaDon.sdtNguoiNhan}"></span></p>
                    <p>Địa chỉ: <span th:text="${hoaDon.diaChi}"></span></p>
                    <p>Phương thức thanh toán:
                        <span th:text="${hoaDon.hinhThucThanhToan}"></span>
                    </p>
                    <p>Ghi chú: <span th:text="${hoaDon.ghiChu != null and hoaDon.ghiChu != '' ? hoaDon.ghiChu : 'Không có ghi chú'}"></span></p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="/vin-fan/danh-muc" class="btn btn-outline-warning fw-bold">Tiếp tục mua hàng</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script>
    document.querySelectorAll('.giaVND').forEach(element => {
        const originalValue = parseFloat(element.innerText);
        element.innerText = originalValue.toLocaleString('vi-VN', {
            style: 'currency',
            currency: 'VND',
            currencyDisplay: 'code'
        });
    });
</script>
</body>
</html>
