<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar" ></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header th:replace="/admin/fragments/header :: header"></header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Thuộc tính</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin/index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/admin/thuoc-tinh">Thuộc tính</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
<!--        dữ liệu thực hiện trong secsion-->
            <section class="row">
                <div class="card">
                    <div class="row">
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Kiểu Quạt</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img style="height: 200px" class="img-fluid rounded" src="https://us.123rf.com/450wm/winwinartlab/winwinartlab2402/winwinartlab240200058/229814316-electric-fans-air-circulation-climate-equipment-different-types-of-cooling-appliances-for-home.jpg?ver=6" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/kieu-quat/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Màu sắc</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img style="height: 200px" class="img-fluid rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5419P5tcxr5ozO5lHwgto1ytbaVA3SeZrcT8RMa0HDEaEgih__G1gnFEMEm-Q0xEQjAw&usqp=CAU" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/mau-sac/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Công suất</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img style="width: fit-content; height: 200px" class="img-fluid rounded" src="https://media.istockphoto.com/id/1205644408/vi/vec-to/s%E1%BB%ADa-ch%E1%BB%AFa-%C4%91i%E1%BB%87n-th%E1%BB%A3-%C4%91i%E1%BB%87n-logo-kh%C3%A1i-ni%E1%BB%87m-thi%E1%BA%BFt-k%E1%BA%BF-vector-m%E1%BA%ABu-bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng.jpg?s=612x612&w=0&k=20&c=MSzXoWKeNYWU0GAYcg5hl-LrPbYBWqI-1tydKCb0mc8=" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/cong-suat/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Hãng</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img style="height: 200px" class="img-fluid h-200 rounded" src="https://ecpvn.com/wp-content/uploads/2022/12/brand-image-1.jpg" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/hang/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Chất liệu khung</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img class="img-fluid h-200 rounded" src="https://tonthientan.com.vn/wp-content/uploads/2019/10/ong-thep-tron-den.jpg" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/chat-lieu-khung/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Chất liệu cánh</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img class="img-fluid h-200 rounded" src="https://png.pngtree.com/png-vector/20191121/ourmid/pngtree-propeller-icon-monochrome-png-image_2010278.jpg" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/chat-lieu-canh/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Chế độ gió</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img class="img-fluid h-200 rounded" src="https://img.freepik.com/premium-vector/doodle-wind-illustration-vector-handrawn-style_607987-242.jpg" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/che-do-gio/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Chiều cao</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img class="img-fluid h-200 rounded" src="https://png.pngtree.com/png-vector/20220724/ourlarge/pngtree-blue-ruler-is-a-tool-used-to-measure-length-in-cm-png-image_6048958.png" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/chieu-cao/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Đế quạt</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img class="img-fluid h-200 rounded" src="https://down-vn.img.susercontent.com/file/vn-11134201-23030-v7ot1kp53novab" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/de-quat/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Đường kính cánh</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img class="img-fluid h-200 rounded" src="https://www.thegioiic.com/upload/large/28609.jpg" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/duong-kinh-canh/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card shadow-sm bg-light border-1">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title text-primary">Nút bấm</h4>
                                        <p class="card-text text-muted">
                                        </p>
                                    </div>
                                    <img class="img-fluid h-200 rounded" src="https://down-vn.img.susercontent.com/file/ab136fd1e15cf5890fcbc91179153be5" alt="Card image cap">
                                </div>
                                <div class="card-footer d-flex justify-content-center bg-white border-0">
                                    <button class="btn btn-warning btn-sm" style="width: 50px">
                                        <a href="/admin/thuoc-tinh/nut-bam/view" class="submenu-link text-decoration-none text-dark">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalKieuQuat" tabindex="-1" aria-labelledby="modalKieuQuatLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalKieuQuatLabel">Cập nhật Kiểu Quạt</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/thuoc-tinh/addKieuQuat">
                        <input type="text" class="form-control" name="ten_kieu_quat" placeholder="Nhập kiểu quạt">
                        <button type="submit" class="btn btn-outline-success">
                            <i class="bi bi-plus"></i>
                        </button>
                    </form>
                    <hr>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Kiểu Quạt</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="kieu, stt : ${listKieuQuat}">
                            <td th:text="${stt.index + 1}"></td>
                            <td th:text="${kieu.ten}"></td>
                            <td>
                                <button class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning btn-edit" data-id="${kieu.id}" data-name="${kieu.ten}">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="btn btn-danger btn-delete" data-id="${kieu.id}">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
</div>
<script>
</script>
</body>
</html>
