<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/custom_css/headQA :: headQA" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- </header>-->
    <div>
        <!--        <header th:replace="/admin/fragments/header :: header">-->
    </div>

    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <!--        <div class="page-heading">-->
        <!--            <div class="page-title">-->
        <!--                <div class="row">-->
        <!--                    <div class="col-12 col-md-6 order-md-1 order-last">-->
        <!--                        <h3>Khung, thay tiêu đề ở đây</h3>-->
        <!--                        <p class="text-subtitle text-muted">chữ nhỏ, k dùng thì xóa</p>-->
        <!--                    </div>-->
        <!--                    <div class="col-12 col-md-6 order-md-2 order-first">-->
        <!--                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">-->
        <!--                            <ol class="breadcrumb">-->
        <!--                                <li class="breadcrumb-item"><a href="/admin/index">Home</a></li>-->
        <!--                                <li class="breadcrumb-item active" aria-current="page"><a href="#">Quản lý ...</a></li>-->
        <!--                            </ol>-->
        <!--                        </nav>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!-- Main content -->
        <main class="page-content">
            <!-- Order Tracking Section -->
            <div class="card mb-4">
                <div class="card-header">
                    <h2><strong>Theo dõi đơn hàng</strong></h2>
                </div>
                <div class="row-ls overflow-x-auto">
                    <div th:each="history : ${listHistory}" class="col-12 col-sm-6 col-md-3 mb-3">
                        <div class="d-flex align-items-center justify-content-center" style="height: 70px;">
                            <div>
                                <div th:switch="${history.trangThai}">
                                    <div th:case="1" class="arrow-qa bg-primary-qa">
                                        <span>Chờ xác nhận</span>
                                    </div>
                                    <div th:case="2" class="arrow-qa bg-success-qa">
                                        <span>Đã xác nhận</span>
                                    </div>
                                    <div th:case="3" class="arrow-qa bg-info-qa">
                                        <span>Đang vận chuyển</span>
                                    </div>
                                    <div th:case="4" class="arrow-qa">
                                        <span>Đã giao hàng</span>
                                    </div>
                                    <div th:case="5" class="arrow-qa">
                                        <span>Hủy</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card mb-4">
                <div class="container d-flex justify-content-end">
                    <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#myModal1">
                        Lịch sử
                    </button>
                    <div class="modal fade" id="myModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Lịch sử thao tác</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <table class="table table-bordered mt-3">
                                            <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Trạng thái</th>
                                                <th>Ngày</th>
                                                <th>Người xác nhận</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="item, iter : ${listHistory}">
                                                <td th:text="${iter.count}"></td>
                                                <td th:switch="${item.trangThai}">
                                                    <span th:case="1" th:text="'Đang chờ xác nhận'"></span>
                                                    <span th:case="2" th:text="'Đã xác nhận'"></span>
                                                    <span th:case="3" th:text="'Đang giao hàng'"></span>
                                                    <span th:case="4" th:text="'Đã giao hàng'"></span>
                                                    <span th:case="5" th:text="'Hủy'"></span>
                                                </td>
                                                <td th:text="${item.ngayTao}"></td>
                                                <td th:text="${item.nguoiTao}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="d-flex mb-3"
                     th:if="${hoaDon.trangThai != 4 && hoaDon.trangThai != 5 }">

                    <form method="post" th:action="@{/hoa-don/xac-nhan}"
                          th:if="${hoaDon.trangThai != 2 && hoaDon.trangThai != 3}" class="me-2">
                        <input type="hidden" name="id" th:value="${hoaDon.id}">
                        <button type="submit" class="btn btn-success">
                            <i class=""></i> Xác Nhận
                        </button>
                    </form>

                    <form method="post" th:action="@{/hoa-don/giao-hang}"
                          th:if="${hoaDon.trangThai != 3 && hoaDon.trangThai != 1}" class="me-2">
                        <input type="hidden" name="id" th:value="${hoaDon.id}">
                        <button type="submit" class="btn btn-warning">
                            <i class=""></i> Đang giao hàng
                        </button>
                    </form>

                    <form method="post" th:action="@{/hoa-don/cho-xac-nhan}"
                          th:if="${hoaDon.trangThai != 3 && hoaDon.trangThai != 1}" class="me-2">
                        <input type="hidden" name="id" th:value="${hoaDon.id}">
                        <button type="submit" class="btn btn-secondary ">
                            <i class=""></i>Hoàn tác
                        </button>
                    </form>

                    <form method="post" th:action="@{/hoa-don/hoan-thanh}"
                          th:if="${hoaDon.trangThai == 3}" class="me-2">
                        <input type="hidden" name="id" th:value="${hoaDon.id}">
                        <button type="submit" class="btn btn-primary">
                            <i class=""></i> Hoàn Thành
                        </button>
                    </form>

                    <form method="post" th:action="@{/hoa-don/huy}"
                          th:if="${hoaDon.trangThai != 3 && hoaDon.trangThai != 2}" class="me-2">
                        <input type="hidden" name="id" th:value="${hoaDon.id}">
                        <button type="submit" class="btn btn-danger">
                            <i class=""></i> Hủy
                        </button>
                    </form>
                </div>
            </div>
            <!--            -->

            <!--            -->
            <!-- Payment History Section -->
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2><strong><span>Lịch sử thanh toán</span></strong></h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã GD</th>
                            <th>Số tiền</th>
                            <th>Trạng thái</th>
                            <th>Thời gian</th>
                            <th>Phương thức thanh toán</th>
                            <th>Người tạo</th>
                            <th>Ghi chú</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Add rows here -->
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Order Information Section -->
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2><strong>Thông tin đơn hàng:</strong> <span th:text="${hoaDon.ma}"></span></h2>
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <p th:switch="${hoaDon.trangThai}"><strong>Trạng thái:</strong>
                                <span th:case="1" class="text-secondary-emphasis">Đang chờ xác nhận</span>
                                <span th:case="2" class="text-success">Đã xác nhận</span>
                                <span th:case="3" class="text-warning">Đang giao hàng</span>
                                <span th:case="4" class="text-primary">Đã giao hàng</span>
                                <span th:case="5" class="text-danger">Hủy</span>
                            </p>
                            <p><strong>Tên người nhận: </strong> <span th:text="${hoaDon.tenNguoiNhan}"></span></p>
                            <p><strong>Địa chỉ: </strong> <span th:id="ganDiaChi"></span></p>
<!--                            <p><strong>Địa chỉ: </strong> <span th:id="ganDiaChi" th:text="${hoaDon.diaChi}"></span></p>-->
                        </div>

                        <div class="col">
                            <div class="col-md-6">
                                <p><strong>Loại hóa đơn: </strong><span
                                        th:text="${hoaDon.loaiHoaDon == 1 ? 'Tại quầy' : 'Giao hàng'}"></span></p>
                                <p><strong>Số điện thoại: </strong> <span th:text="${hoaDon.sdtNguoiNhan}"></span></p>
                                <p><strong>Ngày tạo: </strong><span th:text="${hoaDon.ngayTao}"></span></p>
                            </div>
                        </div>
                        <div class="text-end mt-3">
                            <div class="container">
                                <button th:if="${hoaDon.trangThai == 1}" type="button" class="btn btn-danger"
                                        data-bs-toggle="modal"
                                        data-bs-target="#myModal2">
                                    Sửa hóa đơn
                                </button>

                                <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel2">Thay đổi thông tin</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" th:action="@{/hoa-don/sua-thong-tin}">
                                                    <input type="hidden" id="tinhThanhPho" th:value="${tinh}"/>
                                                    <input type="hidden" id="quanHuyen" th:value="${huyen}"/>
                                                    <input type="hidden" id="xaPhuong" th:value="${xa}"/>
                                                    <input type="hidden" name="id" th:value="${hoaDon.id}">
                                                  
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" id="name1" th:name="tenMoi" th:value="${hoaDon.tenNguoiNhan}" placeholder="Tên người nhận">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Tỉnh/Thành phố</label>

                                                        <select class="form-control" id="city" name="tinhThanhPho">
                                                            <option value="" selected>Chọn tỉnh thành</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Quận/Huyện</label>
                                                        <select class="form-control" id="district" name="quanHuyen" >
                                                            <option value="" selected>Chọn quận huyện</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Phường/Xã</label>
                                                        <select class="form-control" id="ward" name="xaPhuong">
                                                            <option value="" selected>Chọn phường xã</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Số nhà/ngõ đường</label>
                                                        <input type="text" class="form-control" id="street" th:value="${chitietdiachi}" th:name="soNhaNgoDuong">
                                                    </div>
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" id="phoneNumber" th:value="${hoaDon.sdtNguoiNhan}" th:name="soDienThoaiMoi" placeholder="Số điện thoại">
                                                    </div>

                                                    <!-- Input ẩn để lưu địa chỉ hoàn chỉnh -->
                                                    <input type="hidden" id="fullAddress" name="diaChiMoi">

                                                    <button type="submit" onclick="getCityValue()" class="btn btn-primary">Sửa</button>
                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Đóng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2><strong>Thông tin sản phẩm</strong></h2>
                </div>

                <table class="table table-bordered mt-3">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá bán</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iter : ${listHDCT}">
                        <td th:text="${iter.count}"></td>
                        <td th:text="${item.tenSanPham}"></td>
                        <td class="giaVND" th:text="${item.gia}"></td>
                        <td>
                            <!-- Nút Giảm -->
                            <button type="button" class="btn btn-light-secondary btn-sm btn-decrease">-</button>
                            <!-- Ô nhập số lượng -->
                            <input type="number" class="form-control quantity-input"
                                   th:value="${item.soLuong}"
                                   min="1"
                                   style="width: 60px; text-align: center; display: inline-block;" />
                            <!-- Nút Tăng -->
                            <button type="button" class="btn btn-light-secondary btn-sm btn-increase">+</button>
                        </td>
                        <td class="giaVND" th:text="${item.thanhTien}"></td>
                        <td><button>X</button></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-end mt-3">
                    <div class="container">
                        <button th:if="${hoaDon.trangThai == 1}" type="button" class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#myModal">
                            Thêm sản phẩm
                        </button>

                        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Danh sách sản phẩm</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3 ">
                                            <input type="text" class="form-control" id="name"
                                                   placeholder="Tìm kiếm sản phẩm">
                                            <button type="button" class="btn btn-primary">Tìm kiếm</button>
                                        </div>

                                        <table class="table table-bordered mt-3">
                                            <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Màu sắc</th>
                                                <th>Công xuất</th>
                                                <th>Giá bán</th>
                                                <th>Số lượng</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            </thead>
                                            <tbody id="productTable">
                                            <tr th:each="item, iter : ${listSPCTInHDCT}" th:if="${item.so_luong > 0}">
                                                <td th:text="${iter.count}"></td>
                                                <td th:text="${item.sanPham.ten}"></td>
                                                <td th:text="${item.mauSac.ten}"></td>
                                                <td th:text="${item.congSuat.ten}"></td>
                                                <td class="giaVND" th:text="${item.gia}"></td>
                                                <td th:text="${item.so_luong}"></td>
                                                <td>
                                                    <form method="post" th:action="@{/hoa-don/addSPCT}"
                                                          th:object="${addSPToHoaDonChiTietRequest}" class="me-2">
                                                        <input type="hidden" name="idHD" th:value="${hoaDon.id}">
                                                        <input type="hidden" name="idSP" th:value="${item.id}">
                                                        <input class="giaVND" type="hidden" name="gia" th:value="${item.gia}">
                                                        <input type="hidden" name="soLuong" th:value="${item.so_luong}">
                                                        <button type="submit" class="btn btn-danger">
                                                            <i class=""></i> ADD
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Discount and Total Section -->
            <div class="card mb-4">
                <div class="container-custom">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <strong>Phiếu giảm giá</strong>
                        </div>
                        <div class="col-md-6 text-end">
                            <p><span th:text="${listPGG.maPGG}"></span></p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <p>Giá trị:</p>
                        </div>
                        <div class="col-md-6 text-end">
                            <p><span th:text="${listPGG.tenPGG}"></span></p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <p>Tổng tiền hàng:</p>
                        </div>
                        <div class="col-md-6 text-end">
                            <p><span th:text="${listPGG.tongTien}"></span></p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <p>Phí vận chuyển:</p>
                        </div>
                        <div class="col-md-6 text-end">
                            <p><span th:text="${listPGG.phiVanChuyen}"></span></p>

                        </div>
                    </div>
                    <div class="row highlight">
                        <div class="col-md-6">
                            <p>Tổng tiền:</p>
                        </div>
                        <div class="col-md-6 text-end highlight">
                            <p><span th:text="${listPGG.tongTienSauGiamGia}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <div>
            <footer th:replace="/admin/fragments/footer :: footer"></footer>
        </div>

    </div>


    <!-- Script -->
    <div>
        <script th:replace="/admin/fragments/script :: script"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script th:inline="javascript">
            var ganDiaChi = document.getElementById("ganDiaChi");
            var idTinh = document.getElementById("tinhThanhPho").value;
            var idHuyen = document.getElementById("quanHuyen").value;
            var idXa = document.getElementById("xaPhuong").value;

            console.log(idTinh)
            console.log(idHuyen)
            console.log(idXa)

            var citis = document.getElementById("city");
            var districts = document.getElementById("district");
            var wards = document.getElementById("ward");

            var Parameter = {
                url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
                method: "GET",
                responseType: "application/json",
            };

            axios(Parameter).then(function (result) {
                renderCity(result.data);

                citis.value = idTinh;
                citis.dispatchEvent(new Event('change'));

                setTimeout(function () {
                    districts.value = idHuyen;
                    districts.dispatchEvent(new Event('change'));
                }, 300);

                setTimeout(function () {
                    wards.value = idXa;
                }, 600);
            });
            setTimeout(function () {
                // var citis = document.getElementById("city");
                // var districts = document.getElementById("district");
                // var wards = document.getElementById("ward");

                const selectedText = citis.options[citis.selectedIndex].text;
                const districtsText = districts.options[districts.selectedIndex].text;
                const wardsText = wards.options[wards.selectedIndex].text;
                console.log(selectedText)
                console.log(wardsText)
                console.log(wardsText)

                // const street = streetInput.value
                //     ,${street}
                document.getElementById("ganDiaChi").innerText = `${selectedText}, ${districtsText},${wardsText}`;
            }, 900);

//
            function renderCity(data) {
                for (const x of data) {
                    citis.options[citis.options.length] = new Option(x.Name, x.Id);
                }

                citis.onchange = function () {
                    districts.length = 1;
                    wards.length = 1;

                    if (this.value != "") {
                        const result = data.filter(n => n.Id === this.value);
                        for (const k of result[0].Districts) {
                            districts.options[districts.options.length] = new Option(k.Name, k.Id);
                        }
                    }
                };

                districts.onchange = function () {
                    wards.length = 1;
                    const dataCity = data.filter((n) => n.Id === citis.value);

                    if (this.value != "") {
                        const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;
                        for (const w of dataWards) {
                            wards.options[wards.options.length] = new Option(w.Name, w.Id);
                        }
                    }
                };
            }
        </script>

    </div>
</div>
</body>
</html>
