<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="/admin/custom_css/headQA :: headQA" xmlns:th="http://www.thymeleaf.org">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">-->
<!--</head>-->
<head th:replace="/admin/fragments/head :: head" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<!-- Site wrapper -->
<div class="wrapper">
    <!-- </header>-->
    <!--                <header th:replace="/admin/fragments/header :: header">-->

    <!-- Sidebar -->
    <div>
        <aside th:replace="/admin/fragments/sidebar :: sidebar"></aside>
    </div>

    <!-- Main-->
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Hóa đơn</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="trang-ca-nhan/index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="/hoa-don/index">Hóa
                                    đơn</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <section class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-top">
                                <form method="get" action="/hoa-don/index">
                                    <div class="row">
                                        <div class="col-4">
                                            <input type="text" id="searchInput" class="form-control" name="query"
                                                   placeholder="Tìm kiếm hóa đơn...." th:value="${query}">
                                        </div>
                                        <div class="col-2">
                                            <input type="text" class="form-control flatpickr" id="startDate"
                                                   name="startDate"
                                                   placeholder="Từ ngày" th:value="${startDate}"
                                                   th:attr="value=${startDate}">
                                        </div>
                                        <div class="col-2">
                                            <input type="text" class="form-control flatpickr" id="endDate"
                                                   name="endDate"
                                                   placeholder="Đến ngày" th:value="${endDate}"
                                                   th:attr="value=${endDate}">
                                        </div>

                                        <div class="col-2">
                                            <select class="form-select" id="loaiHoaDon" name="loaiHoaDon">
                                                <option value="" th:selected="${loaiHoaDon == null}">Tất cả loại
                                                </option>
                                                <option value="true" th:selected="${loaiHoaDon == true}">Tại quầy
                                                </option>
                                                <option value="false" th:selected="${loaiHoaDon == false}">Online
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-2 d-flex">
                                            <div>
                                                <button class="btn btn-outline-primary" type="submit"
                                                        style="width: 70px; margin-right: 10px">
                                                    <input type="hidden" name="trangThai" th:value="${trangThai}">
                                                    <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                            <div>
                                                <a class="btn btn-outline-warning" href="/hoa-don/index"
                                                   style="width: 70px">
                                                    <i class="bi bi-arrow-counterclockwise"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="trangThai" th:value="${trangThai}">
                                </form>

                            </div>

                            <div class="dataTable-container mt-2 mb-2 border-bottom border-top">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item2 text-center" style="width: 14%">
                                        <a class="nav-link"
                                           th:href="@{/hoa-don/index}">
                                            Tất cả
                                        </a>
                                    </li>
                                    <li class="nav-item2 text-center" style="width: 14%">
                                        <a class="nav-link" th:classappend="${trangThai == 0} ? 'active'"
                                           th:href="@{/hoa-don/index(query=${query}, startDate=${startDate}, endDate=${endDate}, loaiHoaDon=${loaiHoaDon}, trangThai=${trangThaiHoaDon.hoaDonCho})}">
                                            Đang treo
                                        </a>
                                    </li>
                                    <li class="nav-item2 text-center" style="width: 14%">
                                        <a class="nav-link"
                                           th:classappend="${trangThai == 1} ? 'active'"
                                           th:href="@{/hoa-don/index(query=${query}, startDate=${startDate}, endDate=${endDate}, loaiHoaDon=${loaiHoaDon},trangThai=${trangThaiHoaDon.choXacNhan})}">
                                            Chờ xác nhận
                                        </a>
                                    </li>
                                    <li class="nav-item2 text-center" style="width: 14%">
                                        <a class="nav-link"
                                           th:classappend="${trangThai == 2} ? 'active'"
                                           th:href="@{/hoa-don/index(query=${query}, startDate=${startDate}, endDate=${endDate}, loaiHoaDon=${loaiHoaDon},trangThai=${trangThaiHoaDon.daXacNhan})}">
                                            Đã xác nhận
                                        </a>
                                    </li>
                                    <li class="nav-item2 text-center"  style="width: 14%">
                                        <a class="nav-link"
                                           th:classappend="${trangThai == 3} ? 'active'"
                                           th:href="@{/hoa-don/index(query=${query}, startDate=${startDate}, endDate=${endDate}, loaiHoaDon=${loaiHoaDon},trangThai=${trangThaiHoaDon.dangGiaoHang})}">
                                            Đang giao</a>
                                    </li>
                                    <li class="nav-item2 text-center" style="width: 15%">
                                        <a class="nav-link"
                                           th:classappend="${trangThai == 4} ? 'active'"
                                           th:href="@{/hoa-don/index(query=${query}, startDate=${startDate}, endDate=${endDate}, loaiHoaDon=${loaiHoaDon},trangThai=${trangThaiHoaDon.daGiaoHang})}">
                                            Hoàn thành</a>
                                    </li>
                                    <li class="nav-item2 text-center" style="width: 15%">
                                        <a class="nav-link"
                                           th:classappend="${trangThai == 5} ? 'active'"
                                           th:href="@{/hoa-don/index(query=${query}, startDate=${startDate}, endDate=${endDate}, loaiHoaDon=${loaiHoaDon},trangThai=${trangThaiHoaDon.huy})}">
                                            Hủy
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!--Bangr hoas donw-->
                            <div class="dataTable-container">
                                <table class="table table-striped dataTable-table" id="table1">
                                    <thead>
                                    <tr>
                                        <th data-sortable="" style="width: 5%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">STT</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Mã hóa đơn</a>
                                        </th>
                                        <th data-sortable="" style="width: 15%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Tên KH</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">SĐT KH</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Loại hóa đơn</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Ngày tạo</a>
                                        </th>
                                        <th data-sortable="" style="width: 15%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Tổng tiền</a>
                                        </th>
                                        <th data-sortable="" style="width: 10%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Trạng thái</a>
                                        </th>
                                        <th data-sortable="" style="width: 15%; white-space: nowrap;">
                                            <a href="#" class="dataTable-sorter">Hành động</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item, iterStat : ${list}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td th:text="${item.ma}"></td>
                                        <td th:text="${item.tenNguoiNhan}"></td>
                                        <td th:text="${item.sdtNguoiNhan}"></td>
                                        <td th:class="${item.loaiHoaDon ? 'text-danger' : 'text-primary'}"
                                            th:text="${item.loaiHoaDon ? 'Tại quầy' : 'Online'}">
                                        </td>
                                        <td th:text="${item.ngayTao}"></td>
                                        <td class="giaVND" th:text="${item.tongTien}"></td>
                                        <td th:switch="${item.trangThai}">
                                            <span th:case="0" class="text-success-emphasis">Đang treo</span>
                                            <span th:case="1" class="text-secondary-emphasis">Đang chờ xác nhận</span>
                                            <span th:case="2" class="text-success">Đã xác nhận</span>
                                            <span th:case="3" class="text-warning">Đang giao hàng</span>
                                            <span th:case="4" class="text-primary">Hoàn thành</span>
                                            <span th:case="5" class="text-danger">Hủy</span>
                                        </td>
                                        <td>
                                            <a th:href="@{/hoa-don/detail(id=${item.id})}" type="button"
                                               class="btn btn-outline-warning" style="width: 60px">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="dataTable-bottom">
                                <nav aria-label="Page navigation" class="d-flex justify-content-center">
                                    <ul class="pagination justify-content-center">
                                        <!-- Nút Trang đầu -->
                                        <li class="page-item" th:classappend="${list.first ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/hoa-don/index?page=0&size=' + ${list.size} + '&query=' + ${query} + '&startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&loaiHoaDon=' + ${loaiHoaDon} + '&trangThai=' + ${trangThai}}"
                                               aria-label="Trang đầu">
                                                <span aria-hidden="true">««</span>
                                            </a>
                                        </li>
                                        <!-- Nút Trang trước -->
                                        <li class="page-item" th:classappend="${list.first ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:if="${!list.first}"
                                               th:href="@{'/hoa-don/index?page=' + (${list.number - 1}) + '&size=' + ${list.size} + '&query=' + ${query} + '&startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&loaiHoaDon=' + ${loaiHoaDon} + '&trangThai=' + ${trangThai}}"
                                               aria-label="Trang trước">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <!-- Số trang -->
                                        <li class="page-item"
                                            th:each="i : ${#numbers.sequence(T(java.lang.Math).max(0, list.number - 2), T(java.lang.Math).min(list.totalPages - 1, list.number + 2))}"
                                            th:classappend="${i == list.number ? 'active' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/hoa-don/index?page=' + ${i} + '&size=' + ${list.size} + '&query=' + ${query} + '&startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&loaiHoaDon=' + ${loaiHoaDon} + '&trangThai=' + ${trangThai}}"
                                               th:text="${i + 1}"></a>
                                        </li>
                                        <!-- Nút Trang sau -->
                                        <li class="page-item" th:classappend="${list.last ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/hoa-don/index?page=' + (${list.number + 1}) + '&size=' + ${list.size} + '&query=' + ${query} + '&startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&loaiHoaDon=' + ${loaiHoaDon} + '&trangThai=' + ${trangThai}}"
                                               aria-label="Trang sau" th:if="${!list.last}">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <!-- Nút Trang cuối -->
                                        <li class="page-item" th:classappend="${list.last ? 'disabled' : ''}">
                                            <a class="page-link"
                                               th:href="@{'/hoa-don/index?page=' + (${list.totalPages - 1}) + '&size=' + ${list.size} + '&query=' + ${query} + '&startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&loaiHoaDon=' + ${loaiHoaDon} + '&trangThai=' + ${trangThai}}"
                                               aria-label="Trang cuối">
                                                <span aria-hidden="true">»»</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <div>
        <footer th:replace="/admin/fragments/footer :: footer"></footer>
    </div>

</div>

<!-- Script -->
<div>
    <script th:replace="/admin/fragments/script :: script"></script>
    <script>
        document.querySelectorAll('.giaVND').forEach(element => {
            const originalValue = parseFloat(element.innerText);
            element.innerText = originalValue.toLocaleString('vi-VN', {
                style: 'currency',
                currency: 'VND',
                currencyDisplay: 'code' // Thay đổi từ 'symbol' thành 'code'
            });
        });
    </script>
    <!--    <script>-->
    <!--        document.addEventListener("DOMContentLoaded", function () {-->
    <!--            flatpickr(".flatpickr", {-->
    <!--                dateFormat: "Y-m-d", // Định dạng ngày sinh theo yyyy-mm-dd-->
    <!--                maxDate: "today", // Ngày chọn không được quá ngày hôm nay-->
    <!--            });-->
    <!--        });-->
    <!--    </script>-->
    <script>
        flatpickr("#startDate", {
            dateFormat: "Y-m-d", // Ensure the correct format
        });
        flatpickr("#endDate", {
            dateFormat: "Y-m-d", // Ensure the correct format
        });
    </script>
</div>

</body>
</html>
