<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/fragments/head :: head"></head>
<body>
<div class="container-fluid">
    <!-- Thanh tìm kiếm sản phẩm -->
    <div class="row mb-3">
        <div class="col-3">
            <form method="get" th:action="@{/ban-hang-tai-quay/ban-hang}">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Tìm hàng hóa (F3)">
                    <button class="btn btn-success">Tìm</button>
                </div>
            </form>
        </div>
        <!-- Quản lý hóa đơn -->
        <div class="col-9 d-flex align-items-center">
            <form method="post" th:action="@{/ban-hang-tai-quay/tao-hoa-don}">
                <button class="btn btn-primary">Thêm hóa đơn</button>
            </form>
        </div>
    </div>
    <div>
        <h5>Danh sách hóa đơn</h5>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Mã hóa đơn</th>
                <th>Ngày tạo</th>
                <th>Khách hàng</th>
                <th>Tổng tiền</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hoaDon : ${hoaDons}">
<!--                <td th:text="${hoaDon.ma}"></td>-->
<!--                <td th:text="${hoaDon.ngayTao}"></td>-->
<!--                <td th:text="${hoaDon.khachHang.ten}"></td>-->
                <td th:text="${hoaDon.tong_tien}"></td>
                <td>
                    <a th:href="@{/ban-hang-tai-quay/ban-hang(hoaDonId=${hoaDon.id})}" class="btn btn-primary btn-sm">Chọn</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <!-- Danh sách sản phẩm -->
        <div class="col-lg-7">
            <h5>Danh sách sản phẩm</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sp : ${sanPhams}">
                    <td th:text="${sp.SanPham.ten}"></td>
                    <td th:text="${sp.gia}"></td>
                    <td th:text="${sp.so_luong}"></td>
                    <td>
                        <form method="post" th:action="@{/ban-hang-tai-quay/gio-hang-them}">
                            <input type="hidden" name="idSanPham" th:value="${sp.id}">
                            <input type="hidden" name="hoaDonOffId" th:value="${idHoaDonHienTai}">
                            <input type="number" name="soLuong" class="form-control w-50 d-inline" min="1" value="1">
                            <button class="btn btn-primary btn-sm">Thêm</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Giỏ hàng -->
        <div class="col-lg-5">
            <h5>Giỏ hàng</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tên</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sp : ${sanPhamTrongGio}">
                    <td th:text="${sp.sanPhamChiTiet.sanPham.ten}"></td>
                    <td th:text="${sp.sanPhamChiTiet.gia}"></td>
                    <td th:text="${sp.sanPhamChiTiet.so_luong}"></td>
                    <td th:text="${sp.thanh_tien}"></td>
                </tr>
                </tbody>
            </table>
            <h4>Tổng tiền: <span th:text="${tongTien}"></span></h4>
            <form method="post" th:action="@{/ban-hang-tai-quay/gio-hang-thanh-toan}">
                <input type="hidden" name="hoaDonOffId" th:value="${idHoaDonHienTai}">
                <button class="btn btn-success w-100">Thanh toán</button>
            </form>
        </div>
    </div>
</div>
<script th:replace="/admin/fragments/script :: script"></script>
</body>
</html>
