<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--</head>-->
<head th:replace="/admin/fragments/head :: head" xmlns:th="http://www.thymeleaf.org"></head>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Lựa chọn hóa đơn -->
        <div class="col-lg-12">
            <h5>Danh sách hóa đơn</h5>
            <select id="hoaDonSelector" class="form-select">
                <option th:each="hd : ${hoaDons}" th:value="${hd.id}" th:text="${hd.id}" />
            </select>
            <button class="btn btn-success" >Tạo hóa đơn mới</button>
        </div>
    </div>

    <div class="row">
        <!-- giỏ hàng -->
        <div class="col-lg-7">
            <h5>Giỏ hàng</h5>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sp : ${cartSanPhams}">
                    <td th:text="${sp.sanPham.ten}"></td>
                    <td th:text="${sp.gia}"></td>
                    <td th:text="${sp.so_luong}"></td>
                </tr>
                </tbody>
            </table>
            <h3>Total: <span th:text="${tongTien}"></span></h3>
        </div>

        <!-- danh sách sản phẩm -->
        <div class="col-lg-5">
            <div class="container" style="max-height: 500px; overflow-y: auto;">
                <h5>Danh sách sản phẩm</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sp : ${sanPhams}">
                        <td th:text="${sp.sanPham.ten}"></td>
                        <td th:text="${sp.gia}"></td>
                        <td th:text="${sp.so_luong}"></td>
                        <td>
                            <form action="/ban-hang-tai-quay/gio-hang-them" method="post">
                                <span th:text="${hoaDonSelector != null ? hoaDonSelector.value : ''}"></span>
                                <input type="hidden" name="id" th:value="${sp.id}"/>
                                <input type="number" name="soLuong" min="1" value="1"/>
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form action="/ban-hang-tai-quay/gio-hang-thanh-toan" method="post">
                <button type="submit" class="btn btn-success">Checkout</button>
            </form>
        </div>
    </div>
</div>

<!-- script -->
<script th:replace="/admin/fragments/script :: script"></script>
<!--quản lý hóa đơn -->
</body>
</html>
