<div class="header mb-3" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3">
        </i>
    </a>
<!--    <div class="dropdown">-->
<!--        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            &lt;!&ndash; Hiển thị avatar &ndash;&gt;-->
<!--            <img th:src="@{${nhanVienInfo.avatarUrl}}" alt="Avatar" class="rounded-circle" width="30" height="30">-->
<!--            &lt;!&ndash; Hiển thị tên nhân viên &ndash;&gt;-->
<!--            <span th:text="${nhanVienInfo.ten}"></span>-->
<!--        </button>-->
<!--        <ul class="dropdown-menu">-->
<!--            <li>-->
<!--                <div class="dropdown-item">-->
<!--                    <strong>Thông tin cá nhân</strong><br>-->
<!--                    Tên: <span th:text="${nhanVienInfo.ten}"></span><br>-->
<!--                    Email: <span th:text="${nhanVienInfo.email}"></span><br>-->
<!--                    Chức vụ: <span th:text="${nhanVienInfo.chucVu}"></span>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li> &lt;!&ndash; Đăng xuất &ndash;&gt;-->
<!--        </ul>-->
<!--    </div>-->
</div>